
@media screen and (max-width: 1050px) {

    .lsc_navbar-links_container {
        display: none;
    }

    .lsc_navbar-menu {
        display: flex;
    }

    .lsc_header {
        flex-direction: column;
    }

    .lsc_header-content {
        margin: 0 0 3rem;
    }

    .lsc_forum-container {
        flex-direction: column-reverse;
    }


    .lsc_forum-container_groupA {
        margin: 2rem 0;
    }

    .lsc_forum-container_groupA .lsc_forum-container_article  {
       width: 48%;
    }

    .lsc_forum-container_groupA .lsc_forum-container_article-image {
        height: 250px;
    }

    .lsc_physics {
        flex-direction: column;
    }

    .lsc_physics-heading {
        margin: 0 0 2rem 0;
    }

    .lsc_earth {
        flex-direction: column;
    }

    .lsc_earth-image {
        margin: 1rem 0;
    }

    .lsc_earth-image img {
        width: unset;
        height: unset;
    }

    .lsc_earth-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {

    .section_padding {
        padding: 4rem;
    }

    .section_margin {
        margin: 4rem;
    }

    .lsc_navbar {
        padding: 2rem 4rem;
    }

    .lsc_space-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .lsc_space-heading p {
        margin-top: 1rem;
    }

    .lsc_earth-image img {
        width: 100%;
        height: 100%;
    }

    .lsc_forum-container_groupB {
        grid-template-columns: repeat(1, 1fr); /*this is to make all the blogs same size in a column*/
    }

    .lsc_forum-container_groupA .lsc_forum-container_article  {
       width: 100%;
    }

    .lsc_forum-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }

    .lsc_footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 650px) {
    .lsc_health {
        flex-direction: column;
    }

    .lsc_health-btn {
        margin: 2rem 0 0;
    }

    .lsc_header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .lsc_header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .lsc_header-content__people {
        flex-direction: column;
    }

    .lsc_header-content__people p {
        margin: 0;
    }

    .lsc_header-content_input input,
    .lsc_header-content_input button {
        font-size: 16px;
        line-height: 24px;
    }

    .lsc_space-feature .lsc_features-container_feature {
        flex-direction: column;
    }

    .lsc_space-feature .lsc_features-container_feature-text {
        margin-top: 0.5rem;
    }

    .lsc_space-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 550px) {

    .section_padding {
        padding: 4rem 2rem;
    }

    .section_margin {
        margin: 4rem 2rem;
    }

    .lsc_navbar {
        padding: 2rem;
    }

    .lsc_navbar-sign {
        display: none;
    }

    .lsc_navbar-menu_container {
        top: 20px;
    }

    .lsc_navbar-menu_container-links-sign {
        display: block;
    }

    .lsc_header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .lsc_header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .lsc_header-content_input input,
    .lsc_header-content_input button {
        font-size: 12px;
        line-height: 16px;
    }

    .lsc_features-container_feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .lsc_features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .lsc_features-container_feature {
        margin: 1rem 0;
    }

    .lsc_health {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .lsc_health-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .lsc_health-btn button {
        font-size: 14px;
        line-height: 28px;
    }

    .lsc_forum-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }

    .lsc_forum-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .lsc_physics-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .lsc_footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .lsc_footer-links div {
        margin: 1rem 0;
    }

    .lsc_footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .lsc_footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}

@media screen and (max-width: 350px) {
    .lsc_space-container .lsc_features-container_feature {
        margin: 1rem 0;
        min-width: 100%;
    }
} 