@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

:root {
    --font-family: 'Prosto One', cursive;
    ;

    --gradient-text: linear-gradient(90deg, #ae67fa, #f5995b);
    --gradient-bar: linear-gradient(105deg, #ae67fa, #f5995b);

    --color-footer: #031b34;
    --color-blog: #004060;
    --color-text: #bfcfbf;
    --color-subtext: #308080;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

.gradient_text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_padding {
    padding: 4rem 6rem;
}

.section_margin {
    margin: 4rem 6rem;
}

a {
    color: unset;
    text-decoration: none;
}

body {
    height: 100%;
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 20% 0%, rgba(3, 45, 57, 1) 0%, rgba(28, 102, 116, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 20% 0%, rgba(3, 45, 57, 1) 0%, rgba(28, 102, 116, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 20% 0%, rgba(3, 45, 57, 1) 0%, rgba(28, 102, 116, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 20% 0%, rgba(3, 45, 57, 1) 0%, rgba(28, 102, 116, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 20% 0%, rgba(3, 45, 57, 1) 0%, rgba(28, 102, 116, 1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
}



.lsc-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6rem;
    background: radial-gradient(circle at 20% 0%, rgba(3, 45, 57, 1) 0%, rgba(28, 102, 116, 1) 100%);
}

.lsc-navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lsc-navbar-links-logo {
    margin-right: 2rem;
}

.lsc-navbar-links-logo img {
    width: 8vw;
    height: auto;
}

.lsc-navbar-links-container {
    display: flex;
}

.lsc-navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lsc-navbar-links-container p,
.lsc-navbar-sign p,
.lsc-navbar-menu-container p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.lsc-navbar-sign button,
.lsc-navbar-menu-container button {
    padding: 0.5rem 1rem;
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.lsc-navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.lsc-navbar-menu i {
    cursor: pointer;
}

.lsc-navbar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 black;
}

.lsc-navbar-menu-container p {
    margin: 1rem 0;

}

.lsc-navbar-menu-container-links-sign {
    display: none;
} 

.lsc_header {
    display: flex;
    position: relative;
    top: 8vh;
}

.lsc_header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.lsc_header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.lsc_header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.lsc_header-content_input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.lsc_header-content_input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: var(--color-text);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.lsc_header-content_input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: var(--color-subtext);
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: var(--color-text);
    cursor: pointer;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lsc_header-image {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lsc_header-image img, .lsc_earth-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.lsc_space {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.lsc_space-feature {
    display: flex;
}

.lsc_space-feature .lsc_features-container_feature {
    margin: 0;
}

.lsc_space-feature .lsc_features-container_feature-text {
    max-width: 700px;
}

.lsc_space-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.lsc_space-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.lsc_space-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.lsc_space-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.lsc_space-container .lsc_features-container_feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.lsc_space-container .lsc_features-container_feature-text {
    margin-top: 0.5rem;
}

.lsc_features-container_feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}

.lsc_features-container_feature-title {
    flex: 1;
    width: 180px;
    margin-right: 2rem;
}

.lsc_features-container_feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-text);
}

.lsc_features-container_feature-title div {  /*line above titles*/
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    margin-bottom: 0.25rem;    
}

.lsc_features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.lsc_features-container_feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
} 

.lsc_physics {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lsc_physics-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.lsc_physics-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.lsc_physics-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: 2rem;
}

.lsc_physics-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.lsc_earth {
    display: flex;
}

.lsc_earth-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.lsc_earth-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.lsc_earth-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    cursor: pointer;
}

.lsc_earth-content h4:last-child {
    color: #ff8A71;
}

.lsc_earth-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.lsc_earth-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.lsc_health {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.lsc_health-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--color-text);
}

.lsc_health-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.lsc_health-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.lsc_health-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.lsc_health-btn button {
    background: var(--color-blog);
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

.lsc_forum {
    display: flex;
    flex-direction: column;    
}

.lsc_forum-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.lsc_forum-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.lsc_forum-container {
    display: flex;
}

.lsc_forum-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.lsc_forum-container_groupB {
    flex: 1;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.lsc_forum-container_article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.lsc_forum-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.lsc_forum-container_article-image img {
    width: 100%;
    height: 100%;
}

.lsc_forum-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.lsc_forum-container_article-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;
    color: white;
}

.lsc_forum-container_article-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    color: white;
    margin-bottom: 5rem;
    cursor: pointer;
}

.lsc_forum-container_article-content p:last-child {
    cursor: pointer;
}

.lsc_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.lsc_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.lsc_footer-links div {
    width: 250px;
    margin: 1rem;
}

.lsc_footer-links_logo {
    display: flex;
    flex-direction: column;
}

.lsc_footer-links_logo img {
    width: 3.5vw;
    height: auto;
    margin-bottom: 1rem;
}

.lsc_footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.lsc_footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.lsc_footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;
    margin-bottom: 0.9rem;
}

.lsc_footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;
    margin: 0.5rem 0;
    cursor: pointer;
}

.lsc_footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.lsc_footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}









